body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1em;
    color: #444444;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    background: url('http://subtlepatterns.com/patterns/brillant.png');
    overflow-x: hidden;
}

h1 {
  line-height: 1em;
  font-size: 1.5em;
}

.header {
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #000000;
    background-image: url('juriy-com-header.jpg');
    color: #f6f6f6;
    -moz-box-shadow: 0px 2px 9px #888;
    -webkit-box-shadow: 0px 2px 9px #888;
    box-shadow: 0px 2px 9px #888;
    height: 170px;
    margin-bottom: 3em;
}

.promotions li {
  list-style-image: none;
    list-style-type: none;
    margin-left: 0;
}

.main-col {
  padding-left: 20%;
  line-height: 1.5em;
}

@media handheld, only screen and (max-width: 900px) {
  .main-col {
    padding-left: 10%;
  }
}

@media handheld, only screen and (max-width: 767px) {

  .main-col {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}

::-moz-selection {
  color:#222;
  background: #D6EDFF;
  text-shadow: none;
}

::selection {
  color:#222;
  background:#D6EDFF;
  text-shadow:none;
}

article img {
  max-width: 100%;
}

article header {
  font-size: 1.8em;
  font-weight: 500;
}

article header a, 
article header a:visited,
article header a:hover,
article header a:active {
  color: inherit;
  text-decoration: none;
}

code {
  padding: 2px 2px;
  color: #d14;
  white-space: nowrap;
  border: 1px solid #e1e1e8;
}

pre code.hljs {
  white-space: inherit;
}

nav ul {
  margin-top: 0.5rem;
  padding: 0;
}

nav li {
  list-style: none outside none;
}

.pagination ul {
  list-style: none outside none; 
  margin: 0 0 1.5rem 0; 
  padding: 0; 
  text-align: center; 
}

.pagination li {
  display: inline;
  margin: 0 1rem 2rem 0;
  border: 1px solid grey;
  padding: 0 0.6rem;
}

.pagination a {
  text-decoration: none;
  cursor: pointer;
}

.pagination .active {
  font-weight: bold;
}

.pagination .disabled {
  text-decoration: none;
  cursor: default;
  color: lightgrey;
  border-color: lightgrey;
}

img.cover {
  float: left; 
  margin: 0 12px 12px 0;
}

.iconrow {
}

.iconrow .icon {
  display: inline-block;
  width: 190px;
  height: 190px;
  background-repeat: no-repeat;
  background-size: 190px 190px;
}

.icon.js-intro-webinar {
  background-image: url('/img/courses/js-beginners.jpg');
}

.icon.node-intro-webinar {
  background-image: url('/img/courses/js-beginners.jpg');
}

.icon.git-intro-webinar {
  background-image: url('/img/courses/js-beginners.jpg');
}